<div class="historial-container">
  <h2>Historial de Pedidos</h2>
  <table>
    <thead>
      <tr>
        <th>ID Pedido</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos">
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.fecha | date }}</td>
        <td>{{ pedido.estado }}</td>
        <td>{{ pedido.total | currency }}</td>
        <td>
          <button (click)="descargarAlbaran(pedido.id!)">Descargar Albarán</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


